
h2{
    text-decoration: underline;
}
dt{
    text-decoration: none;
    font-size: medium;
    font-weight: bold; 
    color: red;
}
dd{
    text-decoration: none;
    font: size 30px;
    color: black;
    font-style: oblique; 
    font-size: medium;
    font-weight: bold;   
}